.order-details{
    font-weight: 700;
}
.order-details th{
    font-weight: 500;
}
.order-details img{
    width: 40px;
    height: 40px;
}
.order-details .table td{
    border-bottom: 2px solid #e2e2e2;
    margin-top: 5px;
    vertical-align: middle;
}
th.special-th {
    font-weight: 700;
    font-size: 20px;
}
.no-border{
    border: none;
}
.order-details .table {
    box-shadow: 0 0 20px #e2e2e2;
    border-radius: 6px;
}
.spinner-animation{
    margin-top: 250px;
    text-align: center!important;
    width:100%
}
